/.coverage
/.pytest_cache
simshell.log
simshell.log*

.wav
.jpg
.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/
*.swp
assets/images/Bildschirmfoto vom 2023-08-26 10-28-48.png
